@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

span {
  font-size: 4rem;
  font-weight: bold;
  margin: 0 .5rem;
  display: inline-block;
  transition: color 1s;
}

p {
  font-size: 2rem;
}

span:hover {
  animation: textHover .5s forwards;
}

@keyframes textHover {
  from {
    color: white;
    transform: scale(1) rotateX(0deg);
  }
  50% {
    color: rgb(213, 246, 104);
    transform: scale(2) rotateX(180deg);
  }
  to {
    color: blue;
    transform: scale(1) rotateX(360deg);
  }
}